.hero {
    text-align    : center;
    padding-top   : 118px;
    padding-bottom: 118px;
    max-width     : 1600px;
    height        : 600px;
    margin-left   : auto;
    margin-right  : auto;
    background-image:  linear-gradient(to right
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),url(../images/img22.jpg);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-color   : $footer-fone-color;
   @media screen and (min-width: 1200px) {
    padding-top : 200px;
    padding-bottom: 200px;
    }
    &__name {
    color         : $header-fone-color;
    font-weight   : 900;
    font-size     : 44px;
    line-height   : 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom : 30px;}
}