.section-work {

    @media screen and (max-width: 1199px) {
        display: none;
    }
    padding-bottom: 94px;
    &__list {
    display: flex;}
    &__item {
    width: 370px;}
    &__item:not(:last-child) {
    margin-right: $card-set;}
    &__thumb {
    position: relative;}
    &__window {
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    height          : 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display         : flex;
    justify-content : center;
    align-items     : center;
    opacity         : 1;} 
    &__text {
    font-weight   : bold;
    font-size     : 14px;
    line-height   : 1.14;
    text-transform: uppercase;
    color         : $header-fone-color;} 
}