.advantages {
    padding-top   : 94px;
    padding-bottom: 94px;
    &__list {
    // display: flex;}


    &__card {
    width: 270px;}
    &__card:not(:last-child) {
    margin-right: $card-set;}
    &__emblem {
    width          : 270px;
    height         : 120px;
    background     : #F5F4FA;
    border-radius  : 4px;
    margin-bottom  : 30px;
    display        : flex;
    justify-content: center;
    align-items    : center;}
    &__title {
    font-weight   : bold;
    font-size     : 14px;
    line-height   : 1.1;
    text-transform: uppercase;
    margin-top    : 0px;
    margin-bottom : 10px;}
    &__text {
    color        : $text-color;
    font-size    : 14px;
    line-height  : 1.7;
    margin-top   : 0px;
    margin-bottom: 0px;}
}