.clients {
    padding-top   : 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
    padding-top   : 94px;
    padding-bottom: 94px;
 }
    text-align    : center;
.clients__list {
    display: flex;
    flex-wrap: wrap;
     @media screen and (max-width: 1199px) {
     margin: -15px;}
}
.clients__item {
    
    @media screen and (max-width: 1199px) {
    width:calc((100% - 60px)/2);
    margin: 15px;}

    @media screen and (min-width: 768px) {
     width      :calc((100% - 90px)/3);
   }
    @media screen and (min-width: 1200px) {
    width :calc((100% - 150px)/6)}
    }

.clients__item:not(:last-child) {
     @media screen and (min-width: 1200px) {
     margin-right: $card-set;}
    }
.clients__icon {
    margin : 16px 32px;}
.clients__link {
    display      : flex;
    justify-content: center;
    align-items: center;
    border    : 1px solid #AFB1B8;
    fill      : #AFB1B8;
    border-radius: 4px;
    transition: border $transition-time $function-transition, fill $transition-time $function-transition;
    &:hover,
    &:focus {
    border: 1px solid $accent-color;
    fill  : $accent-color;} }
}