.clients {
    padding-top   : 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
    padding-top   : 94px;
    padding-bottom: 94px;
 }
    text-align    : center;
.clients__list {
    display: flex;
    flex-wrap: wrap;}
.clients__item {
    height       : 92px;
    display      : flex;
    border-radius: 4px;
    @media screen and (min-width: 480px) {
    width: 210px;}
    @media screen and (min-width: 768px) {
    width : 226px;}
    @media screen and (min-width: 1200px) {
    width : 170px;}
    }
.clients__item:nth-child(odd) {
    @media screen and (max-width: 480px) {
        margin-right: $card-set;}
}    
.clients__item:nth-child(-n+4) {
    @media screen and (max-width: 480px) {
        margin-bottom: $card-set;}
}
// .clients__item:nth-child(1, 2, 4, 5) {
//     @media screen and (min-width: 768px) (max-width: 1199px) {
//         margin-right: $card-set;}
// }
.clients__item:not(:last-child) {
     @media screen and (min-width: 1200px) {
     margin-right: $card-set;}
    }
.clients__icon {
    display: flex;
    margin : 16px 32px;}
.clients__link {
    border    : 1px solid #AFB1B8;
    fill      : #AFB1B8;
    border-radius: 4px;
    transition: border $transition-time $function-transition, fill $transition-time $function-transition;
    &:hover,
    &:focus {
    border: 1px solid $accent-color;
    fill  : $accent-color;} }
}