.footer-sektion {
    background    : $footer-fone-color;
    padding-top   : 60px;
    padding-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 1200px) {
    text-align: start;}
}
.footer__logo {
    margin-bottom: 20px;}
.footer-sektion__adress {
    color        : $header-fone-color;
    font-style   : normal;
    font-size    : 14px;
    line-height  : 1.7;
    margin-top: 20px;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
    margin-bottom: 9px;
}
    }
.footer-sektion__contakts:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
    margin-bottom: 9px;}
}
.footer-sektion__link {
    color          : rgba(255, 255, 255, 0.6);
    font-style     : normal;
    font-size      : 14px;
    line-height    : 1.7;
    text-decoration: none;
    transition     : color $transition-time $function-transition; 
    &:hover,
    &:focus {
    color: $accent-color;}}
   
.footer-sektion>.container {
    @media screen and (min-width: 768px) {
    display    : flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}
    }
.footer-sektion__block {
     @media screen  and (max-width: 1199px) {
     margin-bottom: 60px;
 }
}
