html {
    box-sizing: border-box;
}

body {
    font-family   : 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color         : var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}
.container {
    height       : auto;
    margin-left  : auto;
    margin-right : auto;
    padding-left : 15px;
    padding-right: 15px;

@media screen and (min-width: 480px) {
    width: 480px;  
    }
@media screen and (min-width: 768px) {
    width: 768px;
}
@media screen and (min-width: 1200px){
    width: 1200px;
}
}
ul {
    list-style: none;
    padding   : 0px;
    margin    : 0px;
}
