.menu-button {
    fill: $main-text-color;
    margin-left: auto;
    padding: 0;
    border: none;
    // z-index: 2;
    background-color: $header-fone-color;
    transition: fill $transition-time $function-transition;
    &:hover,
    &:focus {
        fill: $accent-color;
    }
   @media screen and (min-width: 768px) {
       display: none;}
}

.menu-button .menu-button__icon--menu {
    display: none;
}
.menu-button.is-open .menu-button__icon--menu {
    display: block;
}
.menu-button.is-open .menu-button__icon--cross {
    display: none;
}
.mobile__menu-container {
@media screen and (max-width: 767px) {
position  : absolute;
top       : 0;
left      : 0;
z-index: 1;
display   : inline-flex;
width: 100%;
padding   : 48px 40px;
background: $header-fone-color;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
0px 2px 4px rgba(0, 0, 0, 0.08),
0px 1px 3px rgba(0, 0, 0, 0.16); 
display: none;

    &.is-open {
    display: block;
    }
} 
@media screen and (min-width: 480px) and (max-width: 767px) {
top: 100%;
left: 50%;
transform: translatex(-50%);
width     : 480px;
}
@media screen  and (min-width: 768px) {
    display: none;
}

 .mobile__list {
    margin-bottom: 200px;
 }   
 .mobile__item:nth-child(-n+2) {
    margin-bottom: 32px;
 }
 .mobile__link {
 color          :$text-color;
 font-weight    : 500;
 font-size  : 40px;
 line-height: 1.17;
 letter-spacing: 0.02em;
 text-decoration: none;
 transition     : color $transition-time $function-transition;

 &:hover,
 &:focus {
     color: $accent-color;
 }
 &--active:hover,
 &--active:focus,
 &--active:active,
 &--active:visited {
     color: $accent-color;}
 }
 .mobile__contakts {
     margin-bottom: 64px;
 }
 .mobile__contakts-item:first-child {
 margin-bottom: 32px;
 }

 .mobile__contakts-tel {
   @include mobile__contakts (34px);
   transition: color $transition-time $function-transition;
    &:hover,
    &:focus {
        color: $accent-color; }
 }
 .mobile__contakts-mail {
    @include mobile__contakts (24px);
    transition: color $transition-time $function-transition;
    &:hover,
    &:focus {
    color: $accent-color;}
 }
 .mobile__social {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 .mobile__social-icon:nth-child(-n+3) {
     margin-right: 20px;
 }
 .mobile__social-link {
    font-weight: 500;
    font-size  : 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
    transition: color $transition-time $function-transition;
    &:hover,
    &:focus {
    color: aqua;
    }
 }
}
