@mixin mobile__contakts ($fs) {
    color          : $text-color;
    font-size      : $fs;
    font-weight    : 500;
    letter-spacing : 0.02em;
    line-height    : 1.18;
    text-decoration: none;
}