$main-text-color:#212121;
$text-color:#757575;
$header-fone-color:#FFFFFF;
$footer-fone-color:#2F303A;
$accent-color:#2196F3;
$button-color:#F5F4FA;
$button-text-color:#212121;
$card-set:30px;
$function-transition:cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;